/* styles for the whole page */
* {
	margin: 0;
	padding: 0;
}

html {background-color: white;}

/*media queries*/
@media only screen and (max-width: 959px) {
	section h1 {font-size: 135%;}
	section,aside h2 {font-size:130%;}
	article h3 {font-size:100%;}
}

@media only screen and (max-width: 829px) { /*formerly 767 but the modern devices of today aren't Built Like That&trade;*/
	* {font-size:90%;}

	header {
		text-align:center;
		padding:0.5%;
	}

	header h2 {margin-top:1.25%;}

	header img {
		float:none;
		padding: 0;
		margin-top:0;
		width:8.75%;
	}

	#nav_menu li {width: inherit;}

	main {width:99%;}

	article h2 {float:left;}

	article h3 {
		max-width:50%;
		clear:left;
	}

	section {
		float: none !important;
		margin:0;
		width:100% !important;
		max-width:initial !important;
	}

	article img {
		width:25% !important;
		margin: 0 1.25% !important;
	}

	aside {
		float: none !important;
		width: 95% !important;
		max-width:initial !important;
	}

	.speakers {
		/*-moz-column-count: 2; according to firefox's webdev tools these are pretty much extraneous
		-webkit-column-count: 2;*/
		column-count: 4; /*oh and i did 4 here because otherwise there'd be too much negative space to the right*/
		margin:auto;
	}
}

@media only screen and (max-width: 767px) {

    header {
        text-align:center;
        padding:0.5%;
    }

    header img {
        float:none;
        padding: 0.25%;
        margin-top:0;
    }


    main {width:99%;}

    section {
        float: none !important;
        margin:0;
        width:100%;
        max-width:100%;
    }

    article img {max-width:30%;}
}

@media only screen and (max-width: 479px) {

	header {
		padding: 0;
		margin:auto;
	}

	header h2 {margin: 0 10% 0 35%;}

	header h3 {margin-left: 20%;}

	header img {
		padding: 0;
		width:initial !important;
	}

	#nav_menu {display:none;}

	#mobile_menu {
		display:block !important;
	}

	#mobile_menu ul {
		clear:right;
		list-style: none;
		margin:0;
		text-align: center;
	}

	#mobile_menu li {
		position:relative;
		display: inline-block;
	}

	.submenu li {
		display:block !important;
		float:right;
		clear:right;
		text-align: center;
	}

	.submenu:after {
		display:inline-block;
	}

	section, aside {
		float:none !important;
		width: 90%;
		font-size:130% !important;
	 }

	article img {
		margin-top:1.25% !important;
		max-width: 25% !important;
	}

    .speakers {
        column-count: 2;
        margin:auto;
    }
}

body {
	width: 98.125%;
	max-width: 960px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	background-color: #fffded !important;
	margin: 0 auto;
	border: 3px solid #931420;
}

/* styles for the header */
header {
	border-bottom: 3px solid #931420;
	padding: 1em 0 2em 0;
	background-image: linear-gradient(30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
}

header img {
	float: left;
	padding: 0 3% 0 3%;
	max-width:25%;
	min-width:20px;
}

header h2 {
	font-size: 170%;
	color:#800000;
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

.shadow {text-shadow: 3px 3px 6px #800000;}

/*styles for SPECIFICALLY the nav menu*/
#mobile_menu {display:none;}

nav {width:100%;}

#nav_menu {
	margin:0;
	position:relative;
}

#nav_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#nav_menu li {
	float: left;
	margin:0;
	width:20%;
}

#nav_menu ul li a {
	display: block;
	text-align: center;
	padding: 0.75em 0 0.75em 0;
	text-decoration: none;
	font-weight: bold;
	color:white; /*the current class keeps inheriting this when i don't want it to :(*/
	background-color: #800000;
}

#nav_menu ul li a.current {color: yellow;}

#nav_menu>ul::after {
	padding-top: 100px;
	clear: inherit;
	display: block;
}

.submenu {
	display: none;
	/*position: absolute;*/
	width:inherit;
	float: none;
	list-style-type: circle;
	color: white;
}

#nav_menu li:hover .submenu {
	display: block;
	position: absolute;
}

/* styles for the main element */
main {clear: left;}

main h1 {
	font-size: 150%;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: .25em;
}

/* styles for just the section */
section {
	float: right;
	margin-left: 0.833%;
	padding-right: 1.67%;
	width: 75%;
	max-width:545px;
}

section h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom:.25em;
}

section p {padding-bottom: .5em;}

section blockquote {
	padding: 0 3.33% 1em 3.33%;
	font-style: italic;
}

section ul {padding: 0 0 .25em 5%;}

section ol {padding: 0 0 .25em 2.083%;}

section li {padding-bottom: .35em;}

/* styles for the article */

article {
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
	padding: 0.5em 0 0.5em 0;
}

article h2 {padding-top: 0;}

article h3 {padding-bottom: 0.25em;}

article img {
	border: 1px solid black;
	position:relative;
	float: right;
	margin: 1%;
	max-width:40%;
	min-width:150px;
}

/* styles for the aside */
aside {
	width: 75%;
	max-width:215px;
	float: left;
	padding:0 2.5%;
}

aside .speakerbox {
	border: 4px double #931420;
	border-radius: 15px;
	padding: .5em 3.33% .5em 3.33%;
	margin: 0.5em 0 1em 0;
	background-color: white;
	box-shadow: 5px 5px 1px black;
}

aside h2 {
	font-size: 130%;
	color: #800000;
	padding-top: 0.5em;
	padding-bottom:.25em;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

aside a:hover {font-style: italic;}

aside img {padding-bottom: 1em;}

/* styles for the footer */
footer {
	background-color: #931420;
	border: 3px solid #931420;
	clear: both;
}

footer p {
	padding: 1em 0 1em 0;
	text-align: center;
	color: white;
}